      <footer class="page-footer d-block">
        <div class="container">
          <div class="row mt-4">
            <div class="col-md-3 mt-1">
              <p class="links">Links</p>
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/works">Works</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>
            </div>
            <div class="col-md-5 mt-1">
              <p class="address">Address</p>
              <address>
               Ramnagar, Raipur, Maheshtala,<br> 
               South 24 Paraganas,<br>
               Kolkata-700141<br>
               West Bengal, India.<br>
               </address>
            </div>
            <div class="col-md-4 mt-3">
             <a href="https://github.com/pritambiswas00" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
             <a href="#"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></i></a>
             <a href="https://www.linkedin.com/in/pritam-biswas-94a1a6143/" target="_blank"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
             <a href="https://twitter.com/PritamB47944187" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
            </div>
            <p class="footer-text">&#169;Copyright 2021 Dev Pritam.</p>
          </div>
          
        </div>
      </footer>