<nav class="navbar navbar-expand-md fixed-top">
        <div class="container">
            <i class="fa fa-angle-down fa-2x navbar-toggler fa__toggle" aria-hidden="true" data-toggle="collapse" data-target="#myNavbar"></i>                     
            <a class="navbar-brand" href="/"><img class="img-responsive" src="./images/Adobe_Post_20210305_0423460.11988177379707843.png" alt="brand"></a>
          
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="navbar-nav ml-md-auto">
              <li class="nav-item"><a class="nav-link" href="/"data-toggle="tooltip" id="home" data-placement="top" title="Home"><i class="fa fa-home fa_nav"></i></a></li>
              <li class="nav-item"><a class="nav-link" href="/about" data-toggle="tooltip" id="about" data-placement="top" title="About"><i class="fa fa-info-circle fa_nav" aria-hidden="true"></i></a></li>
              <li class="nav-item"><a class="nav-link" href="/works" data-toggle="tooltip" id="works" data-placement="top" title="Works"><i class="fa fa-folder-open fa_nav" aria-hidden="true"></i></a></li>
              <li class="nav-item"><a class="nav-link" href="/contact" data-toggle="tooltip" id="contact" data-placement="top" title="Contact"><i class="fa fa-id-card fa_nav" aria-hidden="true"></i>
              </a></li>
            </ul>
          </div>
        </div>
      </nav>