<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio.pritam.io</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="./CSS/homepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;900&family=Source+Sans+Pro:wght@300;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./CSS/flag-icon.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
     
</head>
<body>

     <header>

       {{>header}}
      <div class="jumbotron mt-5">
        <div class="title title_rellax animate_animated animate_fadeInLeft" id="title">
          <h1 class="d-block">Hi, I'm <strong>Pritam Biswas</strong></h1>
          <h2 class="d-block">I build value through Design and Development.</h2>
          <p class="d-block">I'm a <span class="flag-icon flag-icon-in flag-icon-squared"></span> Developer, who loves building digital products.</p>
        </div>
        <div class="d-none d-md-block title_img title_rellax ">
          <img class="img rellax " data-rellax-speed="7" src="./images/IMG_20210302_202040.jpg" alt="Pritam">
        </div>
      </div>
      </header>
      <section class="recent">
        <h2 class="rellax" data-rellax-speed="3">Skills</h2>
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-6 d-block">
                  <div class="card rellax wow fadeInLeft" data-rellax-speed="4">

                        <div class="progress ">
                             <h3>Reactjs</h3>
                             <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                 <span class="bar">70% Complete</span>
                             </div>
                         </div>
                        <div class="progress ">
                          <h3>Nodejs</h3>
                             <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                 <span class="bar">100% Complete</span>
                             </div>
                         </div>
                        <div class="progress ">
                             <h3>Express</h3>
                             <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                                 <span class="bar">90% Complete</span>
                             </div>
                         </div>
                        <div class="progress">
                             <h3>MongoDB</h3>
                             <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                                 <span class="bar">80% Complete</span>
                             </div>
                        </div>
                  </div>
                
              </div>
              <div class="col-12 col-md-6">
                <div class="card rellax" data-rellax-speed="3">
                         <div class="progress">
                             <h3>HTML</h3>
                             <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                 <span class="bar">100% Complete</span>
                             </div>
                        </div>
                         <div class="progress">
                             <h3>CSS</h3>
                             <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                 <span class="bar">100% Complete</span>
                             </div>
                        </div>
                        <div class="progress">
                             <h3>Bootstrap</h3>
                             <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                 <span class="bar">100% Complete</span>
                             </div>
                        </div>
                        <div class="progress">
                             <h3>JQuery</h3>
                             <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                                 <span class="bar">80% Complete</span>
                             </div>
                        </div>
                </div>
              </div>
                </div>
              </div>
            </div>
          </div>
      </section>
        {{>footer}}

      <script src="./JS/query.js"></script>
      <script src="./JS/homepage.js"></script>
       <script
     src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
     integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
     crossorigin="anonymous"
       ></script>
   <script
     src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
     integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
     crossorigin="anonymous"
   ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.12.1/rellax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.0/vanilla-tilt.min.js"></script>
    <script>
      var rellax = new Rellax('.rellax', {
    center: false,
    wrapper: null,
    round: false,
    vertical: true,
    horizontal: false
  });
      var rellax1 = new Rellax('.title_rellax',{
        speed: 10,
        center:false,
        wrapper: null,
        round: false,
        vertical: true,
        horizontal: false
      })

    </script>
    <script>


    </script>
</body>
</html>